<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.swinedatebaseproject.mapper.LefseMapper">

    <resultMap id="lefseResultMap" type="com.example.swinedatebaseproject.domain.vo.LefseVO">
        <id property="lefseId" column="Lefse_id"/>
        <result property="bioProject" column="Bio_Project"/>
        <result property="phenotypesExperimentDesign" column="Phenotypes_Experiment_Design"/>
        <result property="microbialName" column="Microbial_name"/>
        <result property="group" column="`Group`"/>
        <result property="ldaScore" column="Lda_Score"/>
    </resultMap>

    <select id="findSimilarProjects" parameterType="string" resultMap="lefseResultMap">
        SELECT l.*
        FROM swine.lefse l
        JOIN (
        SELECT Phenotypes_Experiment_Design, Microbial_name
        FROM swine.lefse
        WHERE Bio_Project = #{bioProject}
        ) AS target
        ON l.Phenotypes_Experiment_Design = target.Phenotypes_Experiment_Design
        AND l.Microbial_name = target.Microbial_name
    </select>

</mapper>