<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.swinedatebaseproject.mapper.NoticeMapper">

    <select id="selectLists" resultType="com.example.swinedatebaseproject.domain.Notice">
        SELECT *
        FROM swine.notice
        WHERE end_time > NOW()
        ORDER BY end_time ASC
    </select>
</mapper>