<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.swinedatebaseproject.mapper.SamplesMapper">

    <select id="findLefseDataBySample" resultType="com.example.swinedatebaseproject.domain.vo.LefseVO">
        SELECT L.Lefse_id, L.Bio_Project, L.Phenotypes_Experiment_Design,
               L.Microbial_name, L.`Group`, L.Lda_Score
        FROM swine.lefse L
                 JOIN swine.sample_runs S ON L.Bio_Project = S.Bio_Project
        WHERE S.Bio_Sample = #{bioSample}
        ORDER BY L.Lefse_id
            LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="findMicrobialDataBySample" resultType="com.example.swinedatebaseproject.domain.vo.MicrobialVO">
        SELECT *
        FROM microbial
        WHERE Runs = #{name}
            LIMIT #{offset}, #{pageSize}
    </select>

<!--    <select id="getLefseCountByBioSample" resultType="int">-->
<!--        SELECT COUNT(*) FROM swine.lefse WHERE Bio_Sample = #{bioSample}-->
<!--    </select>-->

    <select id="getNutrientCompositionCountByBioSample" resultType="int">
        SELECT COUNT(*) FROM swine.nutrient_composition WHERE Bio_Sample = #{bioSample}
    </select>

<!--    <select id="getProjectCountByBioSample" resultType="int">-->
<!--        SELECT COUNT(*) FROM swine.project WHERE Bio_Sample = #{bioSample}-->
<!--    </select>-->

    <select id="getMicrobialCountByBioSample" resultType="int">
        SELECT COUNT(*) FROM microbial WHERE Runs = #{bioSample}
    </select>


    <resultMap id="SampleResultMap" type="com.example.swinedatebaseproject.domain.Samples">
        <id property="runs" column="Runs" />
        <result property="bioProject" column="Bio_Project" />
        <result property="bioSample" column="Bio_Sample" />
        <result property="experimental_Design" column="Experimental_Design" />
        <result property="group" column="Group" />
        <result property="subGroup" column="Sub_Group" />
        <result property="country" column="Country" />
        <result property="category" column="Category" />
        <result property="breed" column="Breed" />
        <result property="growth_Stage" column="Growth_Stage" />
        <result property="isolation_Location" column="Isolation_Location" />
        <result property="age" column="Age" />
        <result property="weight" column="Weight" />
        <result property="sex" column="Sex" />
        <result property="library_Layout" column="Library_Layout" />
        <result property="platform" column="Platform" />
        <result property="release_Date" column="Release_Date" />
    </resultMap>

    <!-- SQL查询项目 -->
    <select id="searchSample" resultMap="SampleResultMap">
        SELECT * FROM swine.sample_runs
        WHERE 1 = 1
        <if test="type != null and type != ''">
            AND Category LIKE CONCAT('%', #{type}, '%')
        </if>
        <if test="breed != null and breed != ''">
            AND Breed = #{breed}
        </if>
        <if test="growthStage != null and growthStage != ''">
            AND Growth_Stage = #{growthStage}
        </if>
        <if test="isolationLocation != null and isolationLocation != ''">
            AND  Isolation_Location=#{isolationLocation}
        </if>
        <if test="isolationLocation != null and isolationLocation != ''">
            AND Experimental_Design = #{experimentalDesign}
        </if>
    </select>



    <select id="searchSampleByName" resultMap="SampleResultMap">
        SELECT
            *
        FROM
            swine.sample_runs
        WHERE
                CONCAT_WS(' ', Bio_Project, Bio_Sample, Experimental_Design, `Group`, Sub_Group,
                          Country, Category, Breed, Growth_Stage, Isolation_Location,
                          Age, Weight, Sex, Library_Layout, Platform, Release_Date)
                LIKE CONCAT('%', #{name}, '%')
    </select>

    <select id="searchSampleInfo" resultMap="SampleResultMap">
        SELECT * FROM swine.sample_runs
        WHERE 1 = 1
        <if test="experimentalDesign != null and experimentalDesign != ''">
            AND Experimental_Design LIKE CONCAT('%', #{experimentalDesign}, '%')
        </if>
        <if test="country != null and country != ''">
            AND Country LIKE CONCAT('%', #{country}, '%')
        </if>
        <if test="category != null and category != ''">
            AND Category LIKE CONCAT('%', #{category}, '%')
        </if>
        <if test="breed != null and breed != ''">
            AND Breed LIKE CONCAT('%', #{breed}, '%')
        </if>
        <if test="growthStage != null and growthStage != ''">
            AND Growth_Stage LIKE CONCAT('%', #{growthStage}, '%')
        </if>
        <if test="isolationLocation != null and isolationLocation != ''">
            AND Isolation_Location LIKE CONCAT('%', #{isolationLocation}, '%')
        </if>
        <if test="sex != null and sex != ''">
            AND Sex LIKE CONCAT('%', #{sex}, '%')
        </if>
    </select>
    <select id="getGroupsByBioProject" resultType="java.lang.String">
        SELECT
            `Group`
        FROM
            swine.sample_runs
        WHERE Bio_Project = #{name}
          AND `Group` IS NOT NULL
          AND `Group` != 'NA';
    </select>


</mapper>