:root{
    --el-color-primary:#356e59; 
    --el-color-primary-light-1: #358668;
    --el-color-primary-light-2: #2eb684;
    --el-color-primary-light-3: #3dbb8d;
    --el-color-primary-light-4: #52af8d;
    --el-color-primary-light-5: #2ccc91;
    --el-color-primary-light-6: #29e09d;
    --el-color-primary-light-7: #5edfb0;
    --el-color-primary-light-8: #9be9cc;
    --el-color-primary-light-9: #c6ebdd;
    --el-color-primary-dark-2: #2b7a5e;
    --el-border-color-extra-light:#e6f1ed;
}