<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.swinedatebaseproject.mapper.CommonUserMapper">


    <!-- 检查邮箱是否存在 -->
    <select id="isEmailExist" resultType="boolean">
        SELECT COUNT(*) > 0 FROM swine.common_user WHERE mail = #{mail}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.example.swinedatebaseproject.domain.dto.RegisterDTO">
        INSERT INTO swine.common_user (name, password, mail)
        VALUES (#{name}, #{password}, #{mail})
    </insert>

    <select id="authenticateUser" resultType="boolean">
        SELECT COUNT(*) FROM swine.common_user WHERE name = #{name} AND password = #{password}
    </select>

    <select id="isNameExits" resultType="boolean">
        SELECT COUNT(*) FROM swine.common_user WHERE name = #{name}
    </select>

</mapper>